<!-- 画像相対パス -->
<% const path=["./assets/images/"]%>
  <footer class="l-footer p-footer">
    <div class="p-footer-inner">
      <ul class="p-footer-nav">
        <li class="p-footer-nav-item">
          <a href="https://www.happyelements.co.jp/privacy-policy/" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">プライバシーポリシー</a>
        </li>
        <li class="p-footer-nav-item">
          <a href="https://www.happyelements.co.jp/contents-guideline/" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">コンテンツ利用ガイドライン</a>
        </li>
        <li class="p-footer-nav-item">
          <a href="https://www.happyelements.co.jp/contact/" class="p-footer-nav-link" target="_blank" rel="noopener noreferrer">お問い合わせ</a>
        </li>
      </ul>
      <small class="p-footer__copy">&copy; </small>
    </div>
    <!-- /.l-footer__inner -->
  </footer>
  </div><!-- l-wrap -->
  </body>
  <script src="<%= js %>assets/js/bundle.js" defer></script>

  </html>
