<header class="l-header p-header u-zindex_100">
  <div class="p-header-inner">
    <h1 class="p-header-logo c-logo">
      <a class="p-header-logo-inner c-logo-inner" href="<%= path %>">
        <img src="<%= path %>assets/images/header/header-logo.png" alt="Happy Elements株式会社 Recruitment" class="p-header-logo-img c-logo-img">
        <p class="p-header-logo-text c-logo-text">Recruitment</p>
      </a>
    </h1>
  </div>
  <!-- /.p-header-inner -->
</header>
