composer.phar
/vendor/

##############
# devlop dir
##############
node_modules
index.html
# *.js
app-min.css
bundle.js
noBundle-min.js
bundle.js.LICENSE.txt
top_mv.mp4
assets/images/*

.git
.vscode

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
develop/yarn-error.log
