@use "global" as *;

.p-footer {
  background-color: #9d8554;
  padding: 24px 16px 16px 16px;
}

.p-footer-inner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-footer-logo {
  width: 200px;
  margin-bottom: 16px;
}

.p-footer-logo-link {}

.p-footer-logo-img {}

.p-footer-nav {}

.p-footer-nav-top {}

.p-footer-nav-btm {
  margin-bottom: 16px;
}

.p-footer-nav-link {
  color: $white;
  font-size: rem(14);
}

.p-footer-copyright {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: $white;
  font-size: rem(12);
}