@use "global" as *;

.p-footer {
  background-color: #9d8554;
  padding: 24px 16px 16px 16px;
}

.p-footer-inner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  @include mq (o-sp) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.p-footer-logo {
  width: 200px;
  margin-bottom: 16px;
  order: 2;

  @include mq (o-sp) {
    order: 1;
  }
}

.p-footer-logo-link {}

.p-footer-logo-img {}

.p-footer-icons {
  display: flex;
  order: 1;
  margin-bottom: 56px;
  @include mq (o-sp) {
    order: 2;
  }
}

.p-footer-icon {
  width: 30px;
  margin: 0 8px;
}

.p-footer-icon-img {}

.p-footer-nav {}

.p-footer-nav-top {}

.p-footer-nav-btm {
  margin-bottom: 16px;
}

.p-footer-nav-link {
  color: $white;
  font-size: rem(14);
}

.p-footer-info {
  width: 100%;
  order: 3;
  color: $white;
  font-size: rem(12);
  margin-bottom: 24px;
  text-align: center;
  @include mq (o-sp) {
    display: none;
  }
}

.p-footer-copyright {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: $white;
  font-size: rem(12);
}