@use "global" as *;

.p-header {
  background-color: #ffffff00;
  position: absolute;
  width: 100%;
  padding-top: 100px;
}

.p-header {
  position: fixed;
  top: -65px;
  background-color: $white;
  padding: 8px;
  transition: top 0.5s;
}

.p-header-inner {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-header-logo {
  display: block;
  width: 160px;
  margin: 0;
}

.p-header-top {}

.p-header-logo-link {
  img {}
}

.p-header-menuBtn {}

.p-header-menuBtn-bar {}

.p-header-btm {}

.p-header-nav {
  display: flex;
  justify-content: center;
}
.p-header-nav-item {
  margin: 0 12px;
}
.p-header-nav-link {
  font-family: $ff-hand;
  padding: 0 8px;
  border-right: 0;
}

.is-scroll {
  top: 0;
  box-shadow: 2px 2px 6px #00000026
}