@use "global" as *;

.p-header {
  background-color: #ffffff00;
  position: absolute;
  width: 100%;
  padding-top: 100px;
}

.p-header-inner {
  padding: 0 8px;
}

.p-header-top {}

.p-header-logo {
  display: block;
  width: 340px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.p-header-logo-link {
  img {}
}

.p-header-menuBtn {}

.p-header-menuBtn-bar {}

.p-header-btm {}

.p-header-nav {
  display: flex;
  justify-content: center;
}
.p-header-nav-item {
  margin: 0 12px;
}
.p-header-nav-link {
  writing-mode: vertical-rl;
  border-right: 3px solid $red;
  font-family: $ff-hand;
  padding: 0 8px;
}

#header {
  position: fixed;
  top: -65px;
  background-color: $white;
  padding: 8px;
  transition: top 0.7s;
  

  .p-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .p-header-logo {
    display: block;
    width: 160px;
    margin: 0;
  }

  .p-header-nav-link {
    writing-mode: horizontal-tb;
    border-right: 0;
  }
}
#header .is-scroll {
  top: 0;
}