@use "global" as *;

.p-header {
  background-color: #ffffff00;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 8px;
  transition: top 0.5s;
  @include mq (o-sp) {
    background-color: $white;
    top: -65px;
  }
}

.p-header-inner {
  padding: 0 8px;
  display: flex;
  align-items: center;
  min-height: calc(60px - 16px);
  @include mq (o-sp) {
  }
}



.p-header-top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include mq (o-sp) {
    justify-content: space-between;
  }
}

.p-header-logo {
  display: none;
  width: 160px;
  margin: 0;
  opacity: 0;
  @include mq (o-sp) {
    display: block;
  }
}
.p-header-logo-img {
  opacity: 0; 
  @include mq (o-sp) {
    opacity: 1;
  }
}
.p-header-logo-link {
  img {}
}

.p-header-btm {
  display: none;
  position: relative;
}

.p-header-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 105vh;
  background-color: #fffffff9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-100% + 16px), -30px);

  @include mq (o-sp) {
    transform: translate(calc(-100% + 16px), 30px);
  }
}

.p-header-nav-item {
  margin: 0 12px;
  margin-bottom: 48px;
  // @include mq (o-sp) {
  //   margin-bottom: 0;
  // }
}
.p-header-nav-link {
  font-family: $ff-hand;
  padding: 0 8px;
  border-right: 0;
  text-align: center;
  font-size: rem(24);
  margin-bottom: 16px;
  // @include mq (o-sp) {
  //   font-size: rem(16);
  //   margin-bottom: 0;
  // }
}

.is-scroll {
  @include mq (o-sp) {
    top: 0;
    box-shadow: 2px 2px 6px #00000026;
  }
}