@use "global" as *;

.p-footer {
  background-color: #9d8554;
  padding: 8px;
}

.p-footer-inner {}

.p-footer-logo {
  width: 200px;
}

.p-footer-logo-link {}

.p-footer-logo-img {}

.p-footer-nav {}

.p-footer-nav-top {}

.p-footer-nav-btm {}

.p-footer-copyright {}