<% var info={ title : "" , desc : "" , css: "./" }; %>
  <!-- 画像相対パス(dist参照) -->
  <% const mediaPath=["./assets/images/"]%>
    <%- include("./include/_head",{meta: info}) -%>
      <div class="l-wrap-layer top">
        <!-- 閉じタグは_footer.ejs -->
        <%- include("./include/_header", {path: './' }) -%>
          <main class="l-main">
          </main>
          <script src="./assets/js/nonBundle/Top-min.js"></script>
          <%- include("./include/_footer", {js: "./" }) -%>
