@use "global" as *;

@mixin generate-fadein-class($count) {
  @for $i from 1 through $count {
    @if $i < 10 {
      .fadein-set0#{$i} {
        opacity: 0;
        animation: 1s ease-in-out #{($i - 1) * 0.2}s forwards;
      }
    } @else {
      .fadein-set#{$i} {
        opacity: 0;
        animation: 1s ease-in-out #{($i - 1) * 0.2}s forwards;
      }
    }
  }
}

@include generate-fadein-class(10);

.fadein-anime {
  animation-name: opacity;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein-zoomout-set {
  opacity: 0;
  scale: 1.05;
}

.fadein-zoomout-anime {
  animation-name: fadein-zoomout;
  animation-duration: 0.7s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes fadein-zoomout {
  0% {
    opacity: 0;
    scale: 1.05;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes steam01 {
  0% {
    bottom: -600px;
    filter: blur(16px);
    transform: rotateY(0deg);
    transform: scale(0.6, 1);
    opacity: 0
  }
  11% { opacity: 0.1 }
  33% {
    transform: rotateY(40deg);
    transform: scale(1, 1.4);
    opacity: 0.7
  }
  66% {
    transform: rotateY(10deg);
    transform: scaleY(1.8, 1);
    opacity: 0.4
  }
  100% {
    bottom: 0;
    filter: blur(20px);
    transform: rotateY(60deg);
    transform: scaleY(2, 1.8);
    opacity: 0
  }
}
@keyframes steam02 {
  0% {
    bottom: -400px;
    filter: blur(16px);
    transform: rotateY(0deg);
    transform: scale(0.6, 0.6);
    opacity: 0
  }
  11% { opacity: 0.1 }
  33% {
    transform: rotateY(40deg);
    transform: scale(0.8, 1);
    opacity: 0.6
  }
  66% {
    transform: rotateY(2deg);
    transform: scaleY(1, 1.2)
  }
  100% {
    bottom: 0;
    filter: blur(20px);
    transform: rotateY(50deg);
    transform: scaleY(1.2, 1.4);
    opacity: 0
  }
}
.steamWrap {
  margin: 100px -16px 0px -16px;
  max-height: 350px;
  max-width: 1400px;
  
  @include mq (o-sp) {
    margin-bottom: 48px;
  }
  @include mq (o-bigPc) {
    margin: 100px auto 48px auto;
  }
}
.steamBox {
  width: 100%;
  height: 30vw;
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  @include mq (o-sp) {
    max-height: 350px;
    max-width: 1400px;
  }
}
.c-steam {
  position: absolute;
  opacity: 0;
  animation-iteration-count:3; 
}
.steam01 {
  right: 0;
  animation: steam01 10s linear;
}
.steam02 {
  left: 0;
  animation: steam02 4s linear;
}
.steam03 {
  margin: auto;
  right: 0;
  left: 0;
  animation: steam02 7s linear;
  animation-delay: 6s;
}
.steam04 {
  margin: auto;
  right: 0;
  left: 0;
  animation: steam02 8s linear;
  animation-delay: 2s;
}
.steam05 {
  margin: auto;
  right: 50%;
  left: 0;
  animation: steam02 6s linear;
  animation-delay: 4s;
}

.steam01-img,
.steam03-img {
  width: 532px;
  height: 800px
}
.steam02-img,
.steam04-img,
.steam05-img {
  width: 399px;
  height: 600px
}

@mixin bgLRextend($duration: 2s, $b: 10%, $h: 25%, $z: -1) {
  animation-name: underL;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  left: 0;
  bottom: $b;
  z-index: $z;
  width: 100%;
  height: $h;
  background-color: #19B8FF;
}

@keyframes underL {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }

  100% {
    transform-origin: left;
    transform: scaleX(1);
  }
}