.u-zindex_-10 {
  z-index: -10;
}

.u-zindex_-1 {
  z-index: -1;
}

.u-zindex_1 {
  z-index: 1;
}

.u-zindex_10 {
  z-index: 10;
}

.u-zindex_100 {
  z-index: 100;
}

.u-zindex_1000 {
  z-index: 1000;
}

.u-zindex_10000 {
  z-index: 10000;
}