@use "color" as *;

$ff-eng: 'Anek Latin', 'Anek Latin SemiCondensed', sans-serif;
$ff-jp: 'Noto Sans JP', sans-serif;
$ff-mix: 'Anek Latin', 'Anek Latin SemiCondensed', 'Noto Sans JP', sans-serif;