// $ff-eng: 'Anek Latin', 'Anek Latin SemiCondensed', sans-serif;
$ff-jp: "Shippori Mincho", serif;
$ff-hand: "Yuji Syuku", serif;
$ff-eng: "Shippori Mincho", serif;
$ff-text: "Shippori Mincho", serif;