@use "../global" as *;

html {
  background-color: $white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body {
  font-family: $ff-jp;
  color: $black;
  box-sizing: border-box;
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
}

::-webkit-full-page-media,
:future,
:root body {
  -webkit-font-smoothing: antialiased;
}


a {
  color: $black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
textarea {
  cursor: pointer;
}