$white: #FFFFFF;
$black: #000000;
$gray: #969696;
$whiteGray: #E2E2E2;
$skyBlue: #19B8FF;
$green: #27d9b7;

// snsアイコンの色も変わるように設定しています。
$youtube-red: #FF0000;
$note-mint: #41C9B4;
$twitter-blue: #1DA1F2;
