@use "global" as *;

.p-menu {}

.p-menu-inner {}

.p-menu-ttl {
  position: relative;
  margin: 0 -16px;
  padding: 20px 0 120px 0;

  &::after {
    content: "";
    background-image: url(../images/main_top_bg.jpg);
    background-size: cover;
    background-position-y: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100vw;
    height: 270px;
    z-index: -1;
  }
}

.p-menu-img {
  margin-top: -80px;
}

.p-menu-cont {
  padding: 32px 20px;
  border-bottom: 1px solid #707070;
  margin-bottom: 12px;

  &-udon {
    padding: 32px 20px;
    margin-bottom: 12px;
  }
}

.p-menu-ramen-ttl {}

.p-menu-text-jp {
  text-align: center;
  margin-bottom: 16px;
}

.p-menu-text-en {
  text-align: center;
  margin-bottom: 32px;
}

$mb: 40px;
.p-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -$mb;
}

$mr: 20px;
.p-menu-item {
  width: calc((100% - $mr*2) / 3);
  margin-bottom: $mb;

  &:not(:nth-child(3n)) {
    margin-right: $mr;

  }
}

.p-menu-item-img {
  margin-bottom: 16px;
}

.p-menu-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  $fs: rem(20);
  .sub {
    color: $gold;
    font-size: calc($fs * 0.6);
    margin-bottom: 8px;
  }
  .main {
    font-size: $fs;
    font-weight: 700;
  }

  .en {
    color: $red;
    font-size: calc($fs * 0.6);
    margin-bottom: 16px;
  }
}

.p-menu-item-intro {
  display: flex;
  flex-direction: column;
  .jp {
    line-height: 1.5;
    margin-bottom: 8px;
  }
  .en {
    line-height: 1.5;
    margin-bottom: 12px;
  }

  .price {
    font-size: rem(20);
    color: $gold;
    text-align: center;
    &::after {
      content: "(税込)";
      font-size: 65%;
      margin-left: 8px;
    }
  }
}

.p-menu-temp {
  display: flex;
  justify-content: center;
  img {
    margin: 4px;
    width: 32px;
  }
}

.p-menu-topping {
  background-color: #F3F3EC;
  padding: 24px 16px;
  box-shadow: inset 0px 3px 3px #00000066;
  border-radius: 30px;
}

.p-menu-topping-list {
  
}

.p-menu-caption {
  font-size: rem(12);
  line-height: 1.5;
  margin-top: 8px;
}