@use "global" as *;

.p-menu {}

.p-menu-inner {}

.p-menu-ttl {
  position: relative;
  margin: 0 -16px;
  padding: 20px 0 120px 0;

  // &::after {
  //   content: "";
  //   background-image: url(../images/main_top_bg.jpg);
  //   background-size: cover;
  //   background-position-y: 270px;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -40%);
  //   width: 100vw;
  //   height: 270px;
  //   z-index: -1;
  // }
}

.p-menu-img {
  display: block;
  height: 30vw;
  width: 100vw;
  max-width: 1400px;
  object-fit: cover;
  margin: 0 -16px;
  margin-top: -80px;
  margin-bottom: 24px;
  max-height: 350px;

  @include mq (o-sp) {
  }

  @include mq (o-bigPc) {
    margin: -80px auto 24px auto;
  }
}

.p-menu-cont {
  padding: 32px 0;
  border-bottom: 1px solid #707070;
  margin-bottom: 12px;

  @include mq (o-sp) {
    padding: 32px 20px;
  }
}

.p-menu-cont-udon {
  padding: 32px 0;
  margin-bottom: 12px;

  @include mq (o-sp) {
    padding: 32px 20px;
  }
}

.p-menu-cont-ttl {}

.p-menu-text-jp {
  text-align: center;
  margin-bottom: 16px;
  line-height: 1.5;
  font-size: rem(14);

  @include mq (o-sp) {
    font-size: rem(16);
  }
}

.p-menu-text-en {
  text-align: center;
  margin-bottom: 80px;
  font-size: rem(12);
  opacity: 0.8;
  line-height: 1.5;
}


$mb: 80px;
$mr: 20px;

.p-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -$mb;
}

.p-menu-item {
  width: calc((100% - $mr) / 2);
  margin-bottom: $mb;

  &:not(:nth-child(2n)) {
    margin-right: $mr;
  }

  @include mq (o-sp) {

    width: calc((100% - $mr*2) / 3);
    margin-bottom: $mb;
    &:not(:nth-child(2n)) {
      margin-right: 0;
    }

    &:not(:nth-child(3n)) {
      margin-right: $mr;

    }
  }
}

.p-menu-item-img {
  margin-bottom: 16px;
}

.p-menu-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  $fs: rem(20);
  .sub {
    color: $gold;
    font-size: calc($fs * 0.6);
    margin-bottom: 8px;
  }
  .main {
    font-size: $fs;
    font-weight: 700;
    margin-bottom: 4px;
    font-family: $ff-hand;
  }

  .en {
    color: $red;
    font-size: calc($fs * 0.6);
    margin-bottom: 16px;
  }
}

.p-menu-item-intro {
  display: flex;
  flex-direction: column;
  .jp {
    line-height: 1.5;
    margin-bottom: 8px;
    font-size: rem(14);

    @include mq (o-sp) {
      font-size: rem(16);
    }
  }
  .en {
    line-height: 1.5;
    margin-bottom: 12px;
    font-size: rem(12);

    @include mq (o-sp) {
      font-size: rem(14);
    }
  }

  .price {
    font-size: rem(20);
    color: $gold;
    text-align: center;
    font-weight: 600;
    &::after {
      content: "(税込)";
      font-size: 65%;
      margin-left: 8px;
    }
  }
}

.p-menu-temp {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  img {
    margin: 4px;
    width: 32px;
  }
}

.p-menu-topping {
  background-color: #F3F3EC;
  padding: 40px 16px;
  margin: 64px 0;
  scale: 1.15;

  @include mq (o-sp) {
    box-shadow: inset 0px 3px 3px #00000066;
    border-radius: 30px;
    scale: 1;
    margin: 0;
    margin-bottom: 12px;
  }
}

$topping-mb: 32px;
.p-menu-topping-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: -$topping-mb;
}

.p-menu-topping-item {
  width: calc((100% - 16px) / 2);
    margin-bottom: $topping-mb;

  &:not(:nth-child(2n)) {
    margin-right: 16px;
  }

  @include mq (o-sp) {
    width: calc((100% - 48px) / 4);
    margin-bottom: $topping-mb;

    &:not(:nth-child(4n)) {
      margin-right: 16px;
    }
  }
  
}

.p-menu-caption {
  font-size: rem(11);
  line-height: 1.5;
  margin-top: 8px;

  @include mq (o-sp) {
    font-size: rem(12);
  }
}

.p-menu-ready {
  display: block;
  width: 100%;
  text-align: center;
  max-width: 300px;
  padding: 16px 60px;
  margin: 0 auto;
  margin-bottom: 48px;
  border: 2px solid $gold;
  border-radius: 5px;
  font-family: $ff-hand;
}