@use "global" as *;

.p-news {}

.p-news-inner {}

.p-news-ttl {
  margin-top: 64px;
}

.p-news-img {
  display: block;
  margin: 0 -16px;
  margin-bottom: 64px;
  border-radius: 4px;
  object-fit: cover;
  height: 50vw;
  width: 100vw;
  max-width: 1400px;

  @include mq (o-sp) {
    max-height: 450px;
  }

  @include mq (o-bigPc) {
    margin: 100px auto 48px auto;
  }
}

.p-news-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
  max-width: 750px;
  margin: 0 auto;
}

.p-news-link {
  display: flex;
  flex-wrap: wrap;
}

.p-news-itme {
  margin-bottom: 28px;
}

.p-news-time {
  margin-right: 12px;
  font-weight: 500;
  font-size: rem(12);
  
  @include mq (o-sp) {
    margin-right: 28px;
    font-size: rem(16);
  }
}

.p-news-item-ttl {
  font-weight: 500;
  font-size: rem(12);
  
  @include mq (o-sp) {
    font-size: rem(16);
  }
  
}

.p-news-more {
  display: block;
  border-radius: 20px;
  border: 2px solid gray;
  padding: 10px;
  width: 160px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #ff7f5000;
}
