@use "global" as *;

.p-news {}

.p-news-inner {}

.p-news-ttl {}

.p-news-img {
  margin-bottom: 64px;
  border-radius: 4px;
}

.p-news-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

.p-news-itme {
  margin-bottom: 24px;
}

.p-news-link {
  display: flex;
  flex-wrap: wrap;
}

.p-news-time {
  margin-right: 28px;
}

.p-news-item-ttl {
  font-weight: 500;
}

.p-news-more {
  border-radius: 20px;
  border: 2px solid gray;
  padding: 10px;
  width: 160px;
  margin-top: 40px;
  background-color: #ff7f5000;
}
