@use "global" as *;

.p-newsSingle {
  min-height: 500px;
}

.p-newsSingle-inner {}

.p-newsSingle-cont {}

.p-newsSingle-time {
  display: inline-block;
  margin-bottom: 16px;
}

.p-newsSingle-ttl {
  font-size: rem(24);
  margin-bottom: 24px;
}

.p-newsSingle-img {
  margin: 0 auto;
  margin-bottom: 32px;
  width: 80%;
  display: block;
  min-width: 300px;
  max-width: 750px;
}
