@use "global" as *;

.p-cover {
  width: 100vw;
  height: 100vh;
  // position: absolute;
  background-color: $white;
  height: 842px;
  
}

.p-fixBox {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100%;
}

.p-news {
  margin-top: 100vh;
}

// .p-fixBox-inner {
//   position: fixed;
// }