@use "global" as *;

.p-top {
  background-image: url("../images/main_top_bg_red_1.35.webp");
  // background-image: url("../images/main_top_bg_red.jpg");
  background-size: cover;
  padding-top: 64px;
  @include mq (o-sp) {
    min-height: 180px;
    padding-top: 0;
  }
  @include mq (o-tb) {
    min-height: 200px;
    padding-top: 0;
  }

  @include mq (o-pc) {
    min-height: 240px;
  }
}

.p-top-inner {}

.p-top-banner {
  display: block;
  margin: 0px auto;
  max-width: 500px;

  @include mq (o-sp) {
    margin: 64px auto 64px auto;
  }
  img {}
}

.p-top-main {}

img.p-top-main-img {
  object-fit: cover;
  height: 100%;
}

.p-top-main-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 64px 0 40px 0;
  justify-content: space-around;

  @include mq (o-sp) {
    flex-direction: row-reverse;
  }
}

.p-top-main-copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 2px 11px #00000087;
  color: $white;
  font-size: rem(72);
  writing-mode: vertical-rl;
  font-family: $ff-hand;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 230px;
  em {
    // background-image: linear-gradient(to left, transparent 50%, #ffffff 50%);
    background-position: 10px 0;
    background-repeat: repeat-y;
    background-size: 2em 200%;
    display: inline-block;
    font-style: normal;
  }

  @include mq (o-sp-m) {
    font-size: rem(80);
    height: 280px;
  }

  @include mq (o-sp) {
    // font-size: rem(96);
    // height: 390px;
  }
}

.p-top-main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  font-size: min(3.3vw, rem(14));
  line-height: 1.6;
  text-align: center;

  @include mq (o-sp-m) {
    font-size: min(3.3vw, rem(16));
  }

  @include mq (o-sp) {
    margin: 0;
    font-size: min(3.3vw, rem(18));
    // margin-right: 40px;
  }
}

.p-top-main-text-jp {
  color: $white;
  em {
    font-weight: 700;
    // background-image: linear-gradient(left, transparent 50%, #ffffff 50%);
    background-position: -100% 3px;
    background-repeat: repeat-x;
    background-size: 200% 1em;
    font-style: normal;

    @include mq (o-sp) {
      background-position: -100% 5px;
      background-size: 200% 1em;
    }
  }
}

.p-top-main-text-en {
}