@use "global" as *;

.p-top {
  background-image: url(../images/main_top_bg.jpg);
  background-size: cover;
}

.p-top-inner {}

.p-top-banner {
  img {}
}

.p-top-main {}

.p-top-main-img {}

.p-top-main-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px 0;

  @include mq (o-sp) {
    flex-direction: row-reverse;
  }
}

.p-top-main-copy {
  font-size: rem(56);
  writing-mode: vertical-rl;
  font-family: $ff-hand;
  display: flex;
  align-items: center;
  @include mq (o-sp) {
  }
}

.p-top-main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}

.p-top-main-text-jp {
  font-size: rem(16);
  margin-bottom: 24px;
  line-height: 1.5;
}

.p-top-main-text-en {
  font-size: rem(16);
  line-height: 1.5;
}