@use "global" as *;

.p-top {
  background-image: url("../images/main_top_bg_red.jpg");
  background-size: cover;
}

.p-top-inner {}

.p-top-banner {
  display: block;
  margin: 0px auto;
  max-width: 500px;

  @include mq (o-sp) {
    margin: 64px auto 64px auto;
  }
  img {}
}

.p-top-main {}

img.p-top-main-img {
  object-fit: cover;
  height: 100%;
}

.p-top-main-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px 0;

  @include mq (o-sp) {
    flex-direction: row-reverse;
  }
}

.p-top-main-copy {
  font-size: rem(56);
  writing-mode: vertical-rl;
  font-family: $ff-hand;
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
  em {
    background-image: linear-gradient(to left, transparent 50%, #ffffff 50%);
    background-position: 10px 0;
    background-repeat: repeat-y;
    background-size: 2em 200%;
    display: inline-block;
    font-style: normal;
  }

  @include mq (o-sp) {
    font-size: rem(64);
    margin-bottom: 0;
  }
}

.p-top-main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  font-size: min(3.3vw, rem(14));
  line-height: 1.6;

  @include mq (o-sp-m) {
    width: 420px;
    font-size: rem(16);
  }

  @include mq (o-sp) {
    margin: 0;
    margin-right: 40px;
  }
}

.p-top-main-text-jp {
  em {
    font-weight: 700;
    background-image: linear-gradient(left, transparent 50%, #ffffff 50%);
    background-position: -100% 3px;
    background-repeat: repeat-x;
    background-size: 200% 1em;
    font-style: normal;

    @include mq (o-sp) {
      background-position: -100% 5px;
      background-size: 200% 1em;
    }
  }
}

.p-top-main-text-en {
}