// breakpoint
$SP-S: 374;
$SP-M: 480;
$SP: 767;
$TB: 950;
$PC: 1200;
$BigPC: 1400;
$breakpoints : ( // "sp":"screen and (max-width:#{$SP}px)"
  'sp-tb': 'print, screen and (max-width: #{$TB}px) and (min-width: #{$SP + 1}px)',
  "o-sp-s" :"print, screen and (min-width:#{$SP-S + 1}px)",
  "o-sp-m" :"print, screen and (min-width:#{$SP-M + 1}px)",
  "o-sp" :"print, screen and (min-width:#{$SP + 1}px)",
  "o-tb" :"print, screen and (min-width:#{$TB + 1}px)",
  "o-pc" :"print, screen and (min-width:#{$PC + 1}px)",
  "o-mac" :"print, screen and (min-width:1366px)",
  "o-bigPc":"print, screen and (min-width:#{$BigPC + 1}px)",
) !default;

// @mixin mq($breakpoint) {
//   @media #{inspect(map-get($breakpoints, $breakpoint))} {
//     @content;
//   }
// }

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ieç”¨
@mixin ie {
  @media all and (-ms-high-contrast: none) {
    @content;
  }
}